.member__content {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.member__title {
  margin-bottom: 10px;

  font-weight: 500;
  color: var(--tittle-text-color);
}

.member__title,
.member__position {
  @include f-size-height(16px, 1.17);
}

.member__social-links {
  margin-top: 16px;
}
